html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Raleway', sans-serif;
}

.header {
  position: relative;
  display: block;
  height: 550px;
  margin: 0;
  padding: 0;
  background-image:url('file:///Users/laurenramsay/Desktop/coffeedrop-build/images/shutterstock_326070713.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .logo-wrapper {
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 1000;
    @media (max-width: 576px) {
      left: 15px;
    }
    img {
      display: block;
      width: 140px;
    }
  }
  .nav-wrapper {
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 1000;
    @media (max-width: 576px) {
      right: 15px;
    }
    #menu-btn {
      display: none;
      @media (max-width: 768px) {
        display: block;
        float: right;
        margin-top: 5px;
      }
      img {
        width: 35px;
      }
    }
    nav {
      position: relative;
      display: block;
      @media (max-width: 768px) {
        float: right;
        display: none;
        margin-top: 35px;
        margin-right: -40px;
      }
      @media (min-width: 769px) and (max-width: 991px) {
        margin-top: 4px;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          list-style: none;
          margin: 0 5px;
          font-size: 18px;
          font-weight: 300;
          @media (max-width: 768px) {
            display: block;
            float: right;
            clear: both;
          }
          &:hover {
            border-bottom: 1px solid #fff;
            @media (max-width: 576px) {
              border: 0;
            }
          }
          a {
            color: #fff;
            text-decoration: none;
            @media (max-width: 991px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .title-wrapper {
    margin-top: 50%;
    color: #fff;
    @media (max-width: 576px) {
      margin-top: 150px;
    }
    h2 {
      font-size: 32px;
      @media (max-width: 576px) {
        font-size: 20px;
      }
    }
    P {
      font-weight: 100;
      @media (max-width: 576px) {
        font-size: 14px;
      }
    }
  }
  .app-store-wrapper {
    img {
      margin: 10px 0;
      @media (max-width: 576px) {
        width: 105px;
        display: block;
      }
    }
  }
  .mockup-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      display: block;
      @media (max-width: 576px) {
        width: 350px;
      }
      @media (min-width: 577px) and (max-width: 768px) {
        width: 450px;
      }
      @media (min-width: 769px) and (max-width: 991px) {
        width: 500px;
      }
    }
  }
}

.about-us {
  position: relative;
  display: block;
  padding: 70px 0;
  .title {
    text-align: center;
    padding: 15px 0;
    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #373737;
    }
  }
  .step {
    width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 576px) {
      width: 280px;
    }
    @media (min-width: 577px) and (max-width: 768px) {
      width: 170px;
    }
    @media (min-width: 769px) and (max-width: 991px) {
      width: 220px;
    }
    &:after {
      content: url('../images/arrow.png');
      position: absolute;
      top: 25%;
      right: -40px;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .icon-wrapper {
      padding: 0 0 10px;
    }
    .text-wrapper {
      padding: 15px 0 0 0;
      p {
        font-weight: 100;
      }
    }
  }
  .last-step {
    &:after {
      display: none;
    }
  }
}

.app {
  position: relative;
  display: block;
  background: #373737;
  padding: 70px 0 100px;
  .title {
    text-align: center;
    padding: 0 0 15px;
    h2 {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
    }
  }
  .price-point {
    text-align: center;
    width: 300px;
    display: block;
    margin: 0 auto;
    @media (max-width: 576px) {
      width: 280px;
    }
    @media (min-width: 577px) and (max-width: 768px) {
      width: 170px;
    }
    @media (min-width: 769px) and (max-width: 991px) {
      width: 220px;
    }
    p {
      font-weight: 700;
      color: #27E69F;
    }
    table {
      width: 100%;
      tr {
        background-color: #4E4E4E;
        &:nth-child(2) {
          background-color: #626262;
          border-radius: 10px;
        }
        td {
          padding: 10px 20px;
          p {
            text-align: left;
            font-weight: 100;
            color: #fff;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    img {
      width: 40px;
      display: block;
      position: absolute;
      bottom: -30px;
      left: 45%;
    }
  }
}

.footer {
  position: relative;
  display: block;
  background: #373737;
  margin-top: -6px;
  .footer-logo {
    text-align: center;
    padding: 20px 0;
    p {
      color: #fff;
      font-size: 14px;
      margin-bottom: 0;
    }
    img {

    }
  }
}

.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.table {
  width: 100%;
  height: 100%;
  display: table;
}
.cell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}

.margintop {
  margin-top:  0;
  @media (max-width: 576px) {
    margin-top: 50px!important;
  }
}

iframe {
  @media (max-width: 768px) {
    height: 300px;
  }
}

@media (max-width: 576px) {

}

@media (min-width: 577px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 991px) {

}

@media (min-width:992px) and (max-width: 1199px) {

}
